<form id="board" method="post">
    <span></span>
    {{ range $j, $file := files }}
    <span>{{ $file }}</span>
    {{ end}}
    <span></span>
    <!-- board tiles -->
    {{ range $i, $rank := ranks }}
    <span>{{ $rank }}</span>
    {{ range $j, $file := files }}
    {{- $canMoveFrom := $.CanMoveFrom $j $i }}
    {{- $move := $.RegularMoveTo $j $i }}
    {{- $promotionMoves := $.PromotionMovesTo $j $i }}
    {{ $pieceAt := $.PieceAt $j $i }}
    {{ if $canMoveFrom }}
        <a href="/?square={{ $file }}{{ $rank }}" class="tile {{ $.ClassesFor $j $i }}" data-square="{{ $file }}{{ $rank }}">
            {{ if $pieceAt}}
            <img class="piece" src="{{ $pieceAt }}" draggable="false">
            {{ end }}
        </a>
    {{ else if $move }}
        <button type="submit" class="tile {{ $.ClassesFor $j $i }}" data-square="{{ $file }}{{ $rank }}" formaction="/move/{{ $move }}">
            {{ if $pieceAt}}
            <img class="piece" src="{{ $pieceAt }}" draggable="false">
            {{ end }}
        </button>
    {{ else if len $promotionMoves }}
        <details class="promotiontile" name="promotions">
            <summary class="tile {{ $.ClassesFor $j $i }}" data-square="{{ $file }}{{ $rank }}">
                {{ if $pieceAt}}
                <img class="piece" src="{{ $pieceAt }}" draggable="false">
                {{ end }}
            </summary>
            <div class="promotionmoves rank-{{ $rank }}">
                {{ range $move := $promotionMoves }}
                <button formaction="/move/{{ $move }}" class="tile" type="submit">
                    <img class="piece" src="{{ $.PromotionPiece $move }}" draggable="false">
                </button>
                {{ end }}
            </div>
        </details>
    {{ else }}
        <button type="submit" class="tile {{ $.ClassesFor $j $i }}" data-square="{{ $file }}{{ $rank }}" disabled>
            {{ if $pieceAt}}
            <img class="piece" src="{{ $pieceAt }}" draggable="false">
            {{ end }}
        </button>
    {{ end }}
    {{ end }}
    <span>{{ $rank }}</span>
    {{ end }}
    <!-- after board tiles: -->
    <span></span>
    {{ range $j, $file := files }}
    <span>{{ $file }}</span>
    {{ end}}
    <span></span>
</form>
