<form id="board" method="post">
    <span></span>
    {{ range $j, $file := files }}
    <span>{{ $file }}</span>
    {{ end}}
    <span></span>
    <!-- board tiles -->
    {{ range $i, $rank := ranks }}
    <span>{{ $rank }}</span>
    {{ range $j, $file := files }}
    {{- $canMoveFrom := $.CanMoveFrom $j $i }}
    {{- $move := $.MoveTo $j $i }}
    {{- $promotion := $.PromotionTo $j $i }}
    {{ if $canMoveFrom }}
        <a href="/?square={{ $file }}{{ $rank }}" class="tile {{ $.ClassesFor $j $i }}" data-square="{{ $file }}{{ $rank }}">
            {{ $pieceAt := $.PieceAt $j $i }}
            {{ if $pieceAt}}
            <img class="piece" src="{{ $pieceAt }}" draggable="false">
            {{ end }}
        </a>
    {{ else }}
        <button type="submit" class="tile {{ $.ClassesFor $j $i }}" data-square="{{ $file }}{{ $rank }}"
            {{ if and $move (not $promotion) }}
                formaction="/move/{{ $move }}"
            {{ else if $move }}
                formaction="/promotion/{{ $move }}"
            {{ else }}
                disabled
            {{ end }}
        >
            {{ $pieceAt := $.PieceAt $j $i }}
            {{ if $pieceAt}}
            <img class="piece" src="{{ $pieceAt }}" draggable="false">
            {{ end }}
        </button>
    {{ end }}
    {{ end }}
    <span>{{ $rank }}</span>
    {{ end }}
    <!-- after board tiles: -->
    <span></span>
    {{ range $j, $file := files }}
    <span>{{ $file }}</span>
    {{ end}}
    <span></span>
</form>
{{ if .PromotionMove }}
<dialog id="promotion" open closedby="none">
    <form method="post">
        <div id="dialog-content">
            <button formaction="/move/{{ .PromotionMove }}q" class="tile" type="submit">
                <img class="piece" src="/static/qw.svg" draggable="false">
            </button>
            <button formaction="/move/{{ .PromotionMove }}r" class="tile" type="submit">
                <img class="piece" src="/static/rw.svg" draggable="false">
            </button>
            <button formaction="/move/{{ .PromotionMove }}b" class="tile" type="submit">
                <img class="piece" src="/static/bw.svg" draggable="false">
            </button>
            <button formaction="/move/{{ .PromotionMove }}n" class="tile" type="submit">
                <img class="piece" src="/static/nw.svg" draggable="false">
            </button>
        </div>
        <div>
            <button id="closeModal" type="reset">Close</button>
        </div>
    </form>
</dialog>
{{ end }}
