<div id="board">
    <span></span>
    {{ range $j, $file := files }}
    <span>{{ $file }}</span>
    {{ end}}
    <span></span>
    <!-- board tiles -->
    {{ range $i, $rank := ranks }}
    <span>{{ $rank }}</span>
    {{ range $j, $file := files }}
    {{ $classes := color $i $j }}
    {{ if $.IsSelected $j $i }}
    {{ $classes = printf "%s %s" $classes "highlighted"}}
    {{ end }}
    <div class="tile {{ $classes }}" data-square="{{ $file }}{{ $rank }}">
        {{ $pieceAt := $.PieceAt $j $i }}
        {{ if $pieceAt}}
        <img class="piece" src="{{ $pieceAt }}" draggable="false">
        {{ end }}
    </div>
    {{ end}}
    <span>{{ $rank }}</span>
    {{ end}}
    <!-- after board tiles: -->
    <span></span>
    {{ range $j, $file := files }}
    <span>{{ $file }}</span>
    {{ end}}
    <span></span>
</div>