body {
    margin: 0;
    background-color: rgb(255, 249, 243);
    user-select: none;
}

main {
    height: 100vh;
    width: 100vw;
    display: grid;

    grid-template-columns: 1fr 100vmin 1fr;
    grid-template-rows: 1fr;
}

#board {
    display: grid;
    aspect-ratio: 1;
    margin: auto;

    width: 100vmin;
    height: 100vmin;

    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.tile {
    position: relative;
    aspect-ratio: 1;
    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.piece {
    height: 95%;
    pointer-events: none;
}

.black {
    background-color: hsl(19, 17%, 35%);

    &.highlighted {
        background-color: hsl(19, 17%, 25%);
    }
}

.white {
    background-color: hsl(33, 20%, 75%);

    &.highlighted {
        background-color: hsl(33, 20%, 65%);
    }
}

.highlighted {
    box-shadow: 0 0 20px inset #0b5700;
}

.check {
    box-shadow: 0 0 20px inset #db3700;
}

.draw::after, .win::after, .loose::after {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.draw::after {
    content: url(/static/draw.svg);
}

.win::after {
    content: url(/static/trophy.svg);
}

.loose::after {
    content: url(/static/flag.svg);
}

.target {
    position: relative;
    cursor: pointer;

    &::after {
        pointer-events: none;
        position: absolute;
        top: 35%;
        left: 35%;
        content: "";
        width: 30%;
        height: 30%;
        border-radius: 50%;
        background-color: #0b5700;
    }
}

span {
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

#promotion {
    position: fixed;

    &::backdrop {
        background-color: rgba(169, 169, 169, 0.373);
    }
}

#dialog-content {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    max-height: 100px;
    width: 100vw;
    height: 100vh;

    & button {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        flex: 1 1 auto;
    }
}

.promotiontile {
    position: relative;
}

.promotionmoves {
    position: absolute;
    width: 100%;
    height: 400%;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 5px 14px black;
    transform: translate(5px, 5px);
    z-index: 100;

    &.rank-1 {
        bottom: 100%;
    }
}